<div style="width: 400px; margin: auto">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="categoryId">Category</label>
        <select
          class="form-control"
          id="type"
          required
          [(ngModel)]="operation.categoryId"
          name="categoryId"
        >
          <option value="1">Supermercado</option>
          <option value="2">Farmarcia</option>
          <option value="3">Restaurants</option>
          <option value="4">Tarjeta de Credito</option>
          <option value="5">Alquiler</option>
          <option value="6">Otros</option>
        </select>
      </div>

      <div class="form-group">
        <label for="concept">Concept</label>
        <input
          class="form-control"
          id="concept"
          required
          [(ngModel)]="operation.concept"
          name="concept"
        />
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select
          class="form-control"
          id="type"
          required
          [(ngModel)]="operation.type"
          name="type"
        >
          <option value="income">Income</option>
          <option value="outcome">Outcome</option>
        </select>
      </div>

      <div class="form-group">
        <label for="amout">Amount</label>
        <input
          type="number"
          class="form-control"
          id="amout"
          required
          [(ngModel)]="operation.amount"
          name="amout"
        />
      </div>

      <div class="form-group">
        <label for="dateOperation">Date</label>
        <input
          type="date"
          class="form-control"
          id="dateOperation"
          required
          [(ngModel)]="operation.dateOperation"
          name="dateOperation"
        />
      </div>

      <button (click)="saveOperation()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newOperation()">Add</button>
    </div>
  </div>
</div>
